body {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  width: 100%;
  position: center;
  background-color: #ffffff;
  color: #050505;
  justify-content: center;
}

.list {
  list-style-type: none;
}

.images {
  width: 336px;
  height: 220px;
  max-width: 100%;
  height: auto;
  display: center;
  flex-direction: row;
  align-items: center;
  margin-top: 4px;
  border-radius: 8px;
  opacity: 0.8;
}

.paginationBttns {
  margin-top: 60px;
  width: 80vw;
  height: 40px;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 6px;
  border: 1px solid #596980;
  color: #596980;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #596980;
}

.paginationActive a {
  color: white;
  background-color: #596980;
}
